<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de proyectos</h1>
    <table border="1">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Nombre Proyecto</td>
                <td>Ciudad</td>
                <td>Monto</td>
                <td>Id del Diputado</td>
            </tr>
        </thead>

        <tbody>
            <% dato.forEach(element => { %>
                <tr>
                    <td><%= element.idproyectos %></td>
                    <td><%= element.nombreproyecto %></td>
                    <td><%= element.ciudad %></td>
                    <td><%= element.monto %></td>
                    <td><%= element.iddiputados %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <button type="button" onclick="location.href='/cProyecto'">Crear</button>
    <button type="button" onclick="location.href='/principal'">Volver a Menu</button>
</body>
</html>